.container {
  display: flex;

  position: relative;
  width: 100%;
}

.input {
  flex-grow: 1;
  padding: 13px 16px;

  font-size: 16px;

  border: 1px solid var(--border-color);
  border-radius: 10px;

  &:focus {
    box-shadow: 0 0 0 4px rgba(255, 205, 23, 0.24);
  }
}

.label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: 0 16px;

  pointer-events: none;
  user-select: none;

  font-size: 16px;
  color: var(--gray);

  transition: 0.2s;
}

.input:focus + .label {
  top: 0;
  padding: 0 6px;
  margin-left: 14px;

  font-size: 14px;

  background-color: var(--bg-color);
}

.label_value {
  top: 0;
  padding: 0 6px;
  margin-left: 14px;

  font-size: 14px;

  background-color: var(--bg-color);
}

.showPassword {
  position: absolute;
  top: 52%;
  right: 0;
  transform: translateY(-50%);
  margin: 0 10px;
  color: var(--gray);
}
