.button {
  font-weight: 600;
  color: #000;

  border-radius: 8px;

  padding: 10px 0;

  transition: 0.2s;
}

.fill {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);

  &:hover {
    background-color: #efc018;
    border: 1px solid #efc018;
  }
}

.outline {
  border: 1px solid var(--accent-color);

  &:hover {
    background-color: var(--accent-color);
    color: #fff;
  }
}

.mini {
  padding: 10px 20px;
}

.full {
  width: 100%;
}
