.auth {
  max-width: 500px;
  margin: 40px auto 0;
  padding: 30px 60px;

  border: 1px solid var(--border-color);
  border-radius: 20px;

  text-align: center;
}

.title {
  font-size: 20px;
  font-weight: 700;
}

.form {
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  gap: 26px;
}
