@use "./base/reset";
@use "./themes/dark-theme.scss";
@use "./themes/light-theme.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

:root {
  --accent-color: #ffcd17;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);

  background-color: var(--bg-color);
}

.container {
  max-width: 1210px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
